<% provide(:title, "Examples") %>



<div class="content">

  
  <h1>StaticPages#examples</h1>
  <hr />

  <h2>Use url to fetch video info</h2>
  For example the url of video Machine Learning.
  <pre>
https://www.bilibili.com/video/BV1FM4y1c7yG?spm_id_from=333.999.0.0
  </pre>
  

  <h2>Use bvid to fetch video info</h2>
  For example the url of video Machine Learning.
  <pre>
BV1FM4y1c7yG
  </pre>


  <h2>PUT the text above into the input of home page</h2>
</div>

