<% provide(:title, "Home") %>


<div class="main">
  <div>
    <h1 class="">Danmaku#download</h1>
    <form>
      <input type="text" class="" id="video"
	     style="width: 300px;"
	     placeholder="bilibili video url or bv">
      <button type="submit" class="blue">SUBMIT</button>
    </form>
  </div>
  
</div>
