<% provide(:title, "Home") %>


<div class="main">
  <div>
    <h1 class="">Danmaku#download</h1>

    <%= form_with url: danmaku_get_video_info_path, method: :post do |form| %>
      <%= form.text_field :query, placeholder: 'bilibili video url or bv', required: true %>
      <%= form.submit "Search", class: 'blue' %>
    <% end %>
  </div>
  
</div>
