<header>
  <nav class="nav">
    <%= link_to "Danmaku Downloader", root_path, class: "title"%>
    <div>
      <div class="text-sm lg:flex-grow">

      </div>
      <div>
	<%= link_to "Document",
	    document_path,
	    class: "item mr-4"%>

	<%= link_to "Examples",
	    examples_path ,
	    class:"item mr-4" %>
	
	<%= link_to "About",
	    about_path,
	    class: "item"%>
      </div>
    </div>
  </nav>
</header>
